<%- include("./partials/head.ejs"); %>


<div class="mtgp_quiz-container">
	<h2><%= quizData.title %></h2>
	<% for(i=0; i < quizData.questions.length; i++) { %>
	<div class="mtgp_quiz" id="question_<%= i %>">
		<h3 class="mtgp_question"><%= quizData.questions[i].question %></h3>
		<div class="mtgp_answer-buttons">
			<button class="mtgp_answer-btn" id="quiz_q<%= i %>_0"><%= quizData.questions[i].answers[0].text %></button>
			<button class="mtgp_answer-btn" id="quiz_q<%= i %>_1"><%= quizData.questions[i].answers[1].text %></button>
			<button class="mtgp_answer-btn" id="quiz_q<%= i %>_2"><%= quizData.questions[i].answers[2].text %></button>
			<button class="mtgp_answer-btn" id="quiz_q<%= i %>_3"><%= quizData.questions[i].answers[3].text %></button>
		</div>
	</div>
	<% } %>
	<button type="button" disabled  id="next-btn" class="mtgp_disabled" onclick="switchQuestion()">Next</button>
</div>


<%- include("./partials/foot.ejs"); %>