<!----------------------------------------------
	PLEASE REFERENCE THE "INFO.txt" FILE
	FOR INFORMATION ABOUT THE GENERAL PURPOSE
	OF EACH FILE. THANKS!
----------------------------------------------->

<!-- Includes the partial "HTML"/ejs from the specified file -->
<%- include("./partials/head.ejs"); %>

<div id="mtgp_quiz-container"
	data-num-questions="<%= quizData.questions.length %>"
	data-submit-text="<%= quizData.end_text %>">
	<h2><%= quizData.title %></h2>
	<% for(i=0; i < quizData.questions.length; i++) { %>
	<div class="mtgp_quiz"
		id="question_<%= i %>"
		data-description="<%= quizData.questions[i].description %>"
		data-link="<%= quizData.questions[i].link %>">
		<h3 class="mtgp_question"><%= quizData.questions[i].question %></h3>
		<div class="mtgp_answer-buttons">
			<button class="mtgp_answer-btn"
					id="quiz_q<%= i %>_0"
					onclick="chooseAnswer(0)"
					data-correct="<%= quizData.questions[i].answers[0].correct %>"><%= quizData.questions[i].answers[0].text %></button>
			<button class="mtgp_answer-btn"
					id="quiz_q<%= i %>_1"
					onclick="chooseAnswer(1)"
					data-correct="<%= quizData.questions[i].answers[1].correct %>"><%= quizData.questions[i].answers[1].text %></button>
			<button class="mtgp_answer-btn"
					id="quiz_q<%= i %>_2"
					onclick="chooseAnswer(2)"
					data-correct="<%= quizData.questions[i].answers[2].correct %>"><%= quizData.questions[i].answers[2].text %></button>
			<button class="mtgp_answer-btn"
					id="quiz_q<%= i %>_3"
					onclick="chooseAnswer(3)"
					data-correct="<%= quizData.questions[i].answers[3].correct %>"><%= quizData.questions[i].answers[3].text %></button>
		</div>
	</div>
	<% } %>
	<button type="button"
			id="next-btn"
			onclick="switchQuestion()">Start</button>
	<div id="quiz_description-container" class="container">
		<p id="quiz_description"></p>
		<a id="quiz_description-link"
			href=""
			target="_blank"
			rel="noopener noreferrer"></a>
	</div>

</div>

<!-- Includes the partial "HTML"/ejs from the specified file -->
<%- include("./partials/foot.ejs"); %>